[submodule "VectorizedMultiAgentSimulator"]
	path = VectorizedMultiAgentSimulator
	url = https://github.com/proroklab/VectorizedMultiAgentSimulator.git
[submodule "BenchMARL"]
	path = BenchMARL
	url = https://github.com/Magraz/BenchMARL.git
